<div class="col-sm-8 col-sm-offset-2">
  <h1 class="text-center">EDIT COMPETITION</h1>
</div>

<div class="col-sm-8 col-sm-offset-2">
  <%= form_for @competition do |f| %>
  <form>
    <fieldset class="form-group">
      <%= f.text_field :title, placeholder: "TITLE", class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.text_field :website, placeholder: "WEBSITE URL", class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.date_field :early_bird, placeholder: "EARLY REGISTRATION DEADLINE", class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.date_field :deadline, placeholder: "FINAL DEADLINE", class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.text_area :description, placeholder: "DESCRIPTION", size:"4x15", class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.text_field :image_url, placeholder: "IMAGE URL", class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.text_field :all_tags, placeholder: "CATEGORIES(separated by commas)", class: "form-control" %>
    </fieldset>
  
    <%= f.submit "Save", class: "btn" %>
  </form>
  <% end %>
</div>