<!-- <section> -->

<!-- MAIN : RECENTLY ADDED -->
  <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0" id="comp-row">
    <h1 class="text-center">ALL COMPETITIONS</h1>
    <% @competitions.reverse_order.each do | competition | %>
      <div class="col-md-6 col-sm-6">
        <div class="card">
          <img class="card-image" src="<%= competition.image_url %>" alt="card-image" style="width: 100%">
          <div class="card-block">
              <h4><%= link_to competition.title.upcase, competition_path(competition) %></h4>
          </div>
          
            <div class="card-block">
              <small><%= raw tag_links(competition.all_tags) %></small><br>
              

              <% if current_user && current_user.admin? %>
                <%= link_to "Edit", edit_competition_path(competition), id: "comp-edit"%>
                <%= link_to "Delete", competition_path(competition), method: :delete, id: "comp-delete"%>
              <% end %>
              
            </div>
        </div>  
      </div>
    <% end %>
  </div>




 



