<div class="col-sm-8 col-sm-offset-2">
  <h1 class="text-center">New Competition</h1>
</div>

<div class="col-sm-8 col-sm-offset-2">
  <%= form_for @competition, url: competitions_path do |f| %>
  <form>
    <fieldset class="form-group">
      <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.text_area :description, placeholder: "Description", size:"4x15", class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.text_field :website, placeholder: "Website URL", class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.text_field :image_url, placeholder: "Image URL", class: "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.text_field :tag_list, placeholder: "Categories (separated with commas)", class: "form-control" %>
    </fieldset>
    <%= f.submit "Create", class: "btn" %>
  </form>
  <% end %>
</div>