<section>
<div class="col-sm-10 col-sm-offset-1 col-xs-12">
  <div class="text-center" id="user-header">
    <% if @user.image == nil %>
      <img src="//placehold.it/200" class="avatar img-circle text-center" alt="avatar" style="height:100px" id="profile-image">
    <% else %>
     <%= image_tag @user.image.url(:thumb) %>
    <% end %>
    <h4 class="text-center">Welcome, <%= @user.name %></h4>
    <h6><%= link_to "Edit Profile", edit_user_path(@user) %></h6>
    <h6>Joined: <%= time_ago_in_words(@user.created_at) %></h6>
  </div>

  <div class="col-sm-4 col-sm-offset-1" id="user-commits">
    <h4 class="text-center">Saved Competitions</h4>
    <hr>

      <div id="user-comp-details">
        <% @user.competitions.each do |competition| %>
          <h4><%= link_to competition.title, competition_path(competition) %></h4>
          <p><small> Category: <%= raw tag_links(competition.all_tags) %></small><br>
          <% if !competition.early_bird.nil? %>
            <span id="user-dates">Early Bird Deadline: </span><%= competition.early_bird.to_date.strftime("%m/%d/%Y") %><br>
          <% end %>
          <% if !competition.deadline.nil? %>
            <span id="user-dates">Final Deadline: </span><%= competition.deadline.to_date.strftime("%m/%d/%Y") %><br>
          <% end %>
          <% if !competition.notifiction.nil? %>
            <span id="user-dates">Notifications: </span><%= competition.notifiction.to_date.strftime("%m/%d/%Y") %></p>
          <% end %>
            <hr>
        <% end %>
     </div>
  </div>
 
  
    <div class="col-sm-5 col-sm-offset-1" id="user-deadlines">
      <h4 class="text-center">Upcoming Dates</h4>
      <hr>
      <div class="user-deadline-dates">
      <% @deadlines.sort_by{|e| e[:date]}.each do |deadline| %>
        <% if !deadline.date.nil? %>
          <p><small><%= deadline.kind %></small><%= deadline.date.to_date.strftime("%m/%d/%Y") %></p>
          <h4><%= deadline.competition.title %></h4>
          <hr>
        <% end %>
      <% end %>
     </div>
    </div>

</div>
</section>